*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    background:linear-gradient(0deg, rgba(70, 76, 163, 0.4), rgba(55, 54, 138, 0.2)),url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
nav ul li a:hover, a.active{
    background-color: #3352F2;
    border-radius: 5px;
}
.main-content{
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.booking-form-area{
    width: 50%;
}

.booking-content-area{
    width: 50%;
    margin-left: 50px;
}

.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
}

.booking-content{
    color: #fff;
    width: 80%;
}

.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.input-name{
    width: 50%;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-btn{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.plus-btn,.minus-btn{
    color: #3352F2;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.plus-btn{
    font-size: 30px;
}
.minus-btn{
    font-size: 35px;

}
.input-style{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #1d1d1d;
}
.booking-form  .calculations{
    padding-top: 35px;
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}
.amount{
    display: flex;
    justify-content: space-between;
}

.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color:  #3352F2;
    cursor: pointer;
}

.confirmation-area{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation-content{
    background-color: rgba(20, 33, 61, 0.9);
    padding: 50px 80px;
    border-radius:10px;
}

.confirmation-content p{
    font-size: 28px;
    font-weight: 500;
    color: #E5E5E5;
}

#first-class-info, #economy-info, #amount-info{
    color: #dacb00;
}

#booking-form{
    display: block;
}

#booking-confirmation{
    display: none;
}

